

body{
	font-family:Times New Roman, serif;
	background:#e6ffff;
}

canvas{
	background:#ffffff;
	margin:auto;
	border:2px solid #006666;
	padding:10px 20px; 
}


a{
	display:inline-block;
	background:#00ffff;
	color:#ffffff;
	
}
.fill{
  background-color: #ffffcc;
  border: 1px solid #0099ff;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  font-family:Times New Roman, serif;
  margin-bottom:5px;
  margin-left:10px;
}

.clear{
  background-color: #ffffcc;
  border: 1px solid #0099ff;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  font-family:Times New Roman, serif;
  margin-bottom:5px;
  margin-left:10px;
}

.download{
	background-color: #ffffcc;
  border: 1px solid #0099ff;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  font-family:Times New Roman, serif;
  margin-bottom:5px;
  margin-left:10px;
}

.download2{
  background-color: #ffffcc;
  border: 1px solid #0099ff;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  font-family:Times New Roman, serif;
  margin-bottom:5px;
  margin-left:10px;
}

.download3{
	background-color: #ffffcc;
  border: 1px solid #0099ff;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  font-family:Times New Roman, serif;
  margin-bottom:5px;
  margin-left:10px;
}

.board{
	width:1000px;
	margin:auto;
}

.pen{
	display:flex;
	width:50%;
	margin:auto:
}

p{
	text-align:center;
	font-size:30px;
	background-color:#ffffcc;
	font-family:'Brush Script MT', cursive;
	
}

.size-pen{
	display:flex;
	margin-bottom:5px;
	text-align:center;
	font-size:20px;
	margin:auto;
	margin-right:5px; 

	
	
}

.colors{
	display:flex;
	margin-bottom:10px;
	margin:auto;
	text-align:center;
	font-size:20px;
	margin-right:5px; 

	
}



.color-option{
	height:20px;
	width:20px;
	border-radius:50%;
	margin-left:7px; 
	cursor:pointer;
	border:1px solid black;
    margin-bottom:5px; 
	
	
}

.checked{
	transform:scale(1.4);
}

.color-option:nth-child(1){
	background-color:black;
}

.color-option:nth-child(2){
	background-color:grey;
}


.color-option:nth-child(3){
	background-color:red;
}


.color-option:nth-child(4){
	background-color:orange;
}


.color-option:nth-child(5){
	background-color:yellow;
}


.color-option:nth-child(6){
	background-color:green;
}


.color-option:nth-child(7){
	background-color:blue;
}

.color-option:nth-child(8){
	background-color:purple;
}


.color-option:nth-child(9){
	background-color:pink;
}

.color-option:nth-child(10){
	background-color:white;
}



.eraser{
	background-color: #ffffcc;
  border: 1px solid #0099ff;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  font-family:Times New Roman, serif;
  margin-bottom:5px;
  margin-left:10px;
}
.shapes{
	background-color: #ffffcc;
  border: 1px solid #0099ff;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  font-family:Times New Roman, serif;
  margin-bottom:5px;
  margin-left:10px;
}